<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages theme="Admin"></pages>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>

  <location path="Users.aspx">
    <system.web>
      <authorization >
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>

  <location path="Autor.aspx">
    <system.web>
      <authorization >
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>
  <location path="Categoria.aspx">
    <system.web>
      <authorization >
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>

  <location path="Editora.aspx">
    <system.web>
      <authorization >
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>


  <location path="Livro.aspx">
    <system.web>
      <authorization >
        <allow roles="Administrator" />
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>


</configuration>
